# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\briup-code\corejava-workspace\DesignPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
